<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DentistBooking</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.5.2-web/css/all.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/responsive.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DentistBooking.styles.css" asp-append-version="true" />

    <!-- Bootstrap Datepicker CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
        
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <!-- Additional scripts -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</head>
<body>
    <header>
        <div class="logosec">
            <div class="logo">Dentist Booking</div>
            <i class="fa-solid fa-bars icn menuicn align-content-center"
                id="menuicn" 
                alt="menu-icon"></i>
        </div>

        <div class="searchbar">
            <input type="text"
                   placeholder="Search">
            <div class="searchbtn">
                <i class="fa-solid fa-magnifying-glass" style="color: white"></i>
            </div>
        </div>

        <div class="message">
            <div class="circle"></div>
            <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210183322/8.png"
                 class="icn"
                 alt="">
            <div class="dp">
                <img src="https://media.geeksforgeeks.org/wp-content/uploads/20221210180014/profile-removebg-preview.png"
                     class="dpicn"
                     alt="dp">
            </div>
        </div>

    </header>
<div class="main-container">
    <div class="navcontainer">
        <nav class="nav">
            <div class="nav-upper-options">
                <a href="/StaffPages/Users/ViewUsers" class="nav-option option3">
                    <i class="fa-solid fa-user"></i>
                    Users
                </a>
                
                <a href="/StaffPages/Service/Index" class="nav-option option3">
                    <i class="fa-solid fa-list"></i>
                    Services
                </a>

                <a href="/StaffPages/Clinics/Details" class="nav-option option3">
                    <i class="fa-solid fa-house-chimney-medical"></i>
                    Clinic
                </a>

                <a href="/StaffPages/DentistSlots/ViewDentistSlot" class="nav-option option3">
                    <i class="fa-solid fa-check-to-slot"></i>
                    Dentist Slot
                </a>
                
                <a href="/StaffPages/Appointments/Index" class="nav-option option3">
                    <i class="fa-solid fa-calendar-days"></i>
                    Appointment
                </a>
                
                <a href="/StaffPages/Medicines/Index" class="nav-option option3">
                    <i class="fa-solid fa-pills"></i>
                    Medicine
                </a>  
                
                <a href="/StaffPages/MedicalRecords/Index" class="nav-option option3">
                    <i class="fa-solid fa-clipboard-user"></i>
                    Medical Records
                </a> 
                
                <a href="/StaffPages/Check-upSchedules/Index" class="nav-option option3">
                    <i class="fa-regular fa-calendar-check"></i>
                    Check-up Schedule
                </a>

                <div class="nav-option logout">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <a>Logout</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="vw-100 bg-opacity-10 bg-dark">
        <div class="cus-container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>