* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 0 10px;
}

.img-wrapper {
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    text-align: center;
    align-content: center;
    justify-content: center;
    align-items: center;
    z-index: -100;
    border-radius: 20px;
}

    .img-wrapper > p {
        font-size: 0.875rem;
    }

.main-img {
    background-size: cover;
    width: 300px;
    height: 300px;
    z-index: -1;
}

.content-wrapper {
    width: 60%;
    height: 100vh;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    background-color: rgba(160,193,244,0.7);
    position: relative; /* Added to ensure stacking context */
    display: flex;
    justify-content: center;
    align-items: center;
}

.forget-form,
.register-form,
.login-form {
    width: 400px;
    padding: 40px 20px 40px 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(8px);
    background: rgba(255,255,255,0.3); /* Ensure the content has a slight background */
    border-radius: 20px;
    z-index: 1; /* Ensure the content is above the pseudo-element */
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #000;
}

.input-field {
    position: relative;
    border-bottom: 2px solid #ccc;
    margin: 15px 0;
}

    .input-field label {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        color: #000;
        font-size: 16px;
        pointer-events: none;
        transition: 0.15s ease;
    }

    .input-field input {
        width: 100%;
        height: 40px;
        background: transparent;
        border: none;
        outline: none;
        font-size: 16px;
        color: #000;
    }

        .input-field input:focus ~ label,
        .input-field input:valid ~ label,
        .input-field select:focus ~ label,
        .input-field select:valid ~ label {
            font-size: 0.8rem;
            top: 10px;
            transform: translateY(-120%);
        }

.text-danger {
    text-align: left;
    font-size: 8px;
}

.forget {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0 35px 0;
    color: #000;
}

#remember {
    accent-color: #000;
}

.forget label {
    display: flex;
    align-items: center;
}

    .forget label p {
        margin-left: 8px;
    }

.wrapper a {
    color: #333;
    text-decoration: none;
}

    .wrapper a:hover {
        text-decoration: underline;
    }

button {
    background: #000;
    color: #fff;
    font-weight: 600;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 3px;
    font-size: 16px;
    border: 2px solid transparent;
    transition: 0.3s ease;
}

    button:hover {
        color: #000;
        border-color: #000;
        background: rgba(255, 255, 255, 0.15);
    }

.register {
    text-align: center;
    margin-top: 30px;
    color: #000;
}

@media (max-width: 575.98px) {
    .img-wrapper {
        display: none;
    }

    .wrapper {
        justify-content: center;
        min-height: 80dvh;
    }

    .content-wrapper {
        height: 100%;
    }
}

/* Small devices (tablets, 576px and up) */
@media (min-width: 576px) {
    .img-wrapper {
        display: none;
    }

    .wrapper {
        justify-content: center;
        min-height: 80dvh;
    }

    .content-wrapper {
        height: 100%;
    }
}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 768px) {
    
}

/* Large devices (large desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (extra large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .img-wrapper {
        display: flex;
    }

    .content-wrapper {
        height: 100vh;
    }
}
    /* Extra extra large devices (XXL desktops, 1400px and up) */
    @media (min-width: 1400px) {
        
    }
