@page
@model DentistBooking.Pages.ForgetPasswordModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forget password</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="DentistBooking.styles.css" rel="stylesheet">
</head>
    <body>
        <div class="wrapper">
            <div class="img-wrapper">
                <img class="main-img" src="/assets/img/13053.jpg" />
                <h4>Dentist Booking System</h4>
                <p>PRN221 - Group Project</p>
            </div>
            <div class="content-wrapper">
                <div class="forget-form" id="forget-form">
                    <form method="post" asp-page-handler="forget" class="needs-validation" novalidate>
                        <h2>Forget Password</h2>
                        <div class="input-field">
                            <input type="email" name="ForgetEmail" required>
                            <label>Enter your email</label>
                        </div>
    
                        <span asp-validation-for="ForgetEmail" class="text-danger"></span>
                        <div class="input-field">
                            <input type="password" name="ForgetPassword" required>
                            <label>Enter your new password</label>
                        </div>
                        <span asp-validation-for="ForgetPassword" class="text-danger"></span>
                        <div class="input-field">
                            <input type="password" name="ForgetConfirm" required>
                            <label>Confirm your password</label>
                        </div>

                        <div class="d-flex flex-row gap-3 align-items-center justify-content-end">
                            <button type="submit" style="padding: 5px 3px">Confirm</button>
                            <a asp-page="/Index" id="back-button">Back</a>
                        </div>
                    @if (!ModelState.IsValid)
                    {
                        <div class="alert alert-danger mt-3">Invalid login attempt.</div>
                    }
                    </form>
                </div>
            </div>
        </div>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
