@page
@model DentistBooking.Pages.StaffPages.Users.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="User.UserId" />
            <div class="form-group">
                <label asp-for="User.UserName" class="control-label"></label>
                <input asp-for="User.UserName" class="form-control" readonly />
                <span asp-validation-for="User.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Name" class="control-label"></label>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Password" class="control-label"></label>
                <input asp-for="User.Password" class="form-control" />
                <span asp-validation-for="User.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Dob" class="control-label"></label>
                <input asp-for="User.Dob" class="form-control" type="date" />
                <span asp-validation-for="User.Dob" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="User.Gender" class="control-label"></label>
                <select asp-for="User.Gender" class="form-control">
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
                <span asp-validation-for="User.Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.PhoneNumber" class="control-label"></label>
                <input asp-for="User.PhoneNumber" class="form-control" />
                <span asp-validation-for="User.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label"></label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.CreatedDate" class="control-label"></label>
                <input asp-for="User.CreatedDate" class="form-control" readonly />
                @* <span asp-validation-for="User.CreatedDate" class="text-danger"></span> *@
            </div>
            @* <div class="form-group">
            <label asp-for="User.Status" class="control-label"></label>
            <input asp-for="User.Status" class="form-control" />
            <span asp-validation-for="User.Status" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="User.Status" class="control-label"></label>
                <select asp-for="User.Status" class="form-control">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
                <span asp-validation-for="User.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Clinic" class="control-label"></label>
                @*<select asp-for="User.ClinicId" class="form-control" asp-items="ViewBag.ClinicId"></select>*@
                <input asp-for="User.Clinic.ClinicName" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <label asp-for="User.Role" class="control-label"></label>
                @* <select asp-for="User.RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
                <span asp-validation-for="User.RoleId" class="text-danger"></span> *@
                <input asp-for="User.Role.RoleName" class="form-control" readonly/>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./ViewUsers">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
